body{
    background-color: #C2ECFF;
    margin: 0;
    height: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  

}

@font-face {
    font-family: 'Pixel';
    src: url('pixelpoiiz.ttf') format('truetype');
}

@font-face {
    font-family: 'Milky';
    src: url('milky.ttf') format('truetype');
}

@font-face {
    font-family: 'Penelope';
    src: url('Penelope.ttf') format('truetype');
}


.wrapper{
    background-color: #FFFABD; 
    border-radius: 20px;
    background-repeat: no-repeat;
    width: 90%;
    max-width: 700px;
    height: 90vh;
    padding: 20px;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
}

h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Pixel', sans-serif;
    text-align: center;
    margin: 0;
    margin-top: 20px;

}

p{
     font-size: 20px;  
    font-family: 'Pixel', sans-serif;
    text-align: center;
}

.home-image{
    margin-top: -100px;
    width: 500px;
    height: auto;
    
}

.image-container{
    max-width: 100%; /* Set max width of image container */
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width: 250px; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 30px;
}

.start-button{ 
    background-color: #FFDBF7;
    border: none;
    border-radius: 30px;
    width: 160px;
    height: 50px;
    font-family: 'Pixel',sans-serif;
    font-size: 20px;
     cursor: pointer;
  transition: 
    background 0.3s ease, 
    transform 0.3s ease, 
    box-shadow 0.3s ease;
}

.start-buttonn:hover,
.start-button:focus {
  background: #FFFABD;
  transform: scale(1.08);     /* ⬅️ makes the button grow by 8% */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.question-text{
    font-family: 'Pixel',sans-serif;
    padding-top: 20px;
    text-align: center;
}

.choices{
    width: 400px;
height: 50px;
margin-bottom: 10px;
border-radius: 30px;
background: #FCE1F6;
border: none;

}

.choices-box{
    display: flex;
  flex-direction: column; /* stack buttons vertically */
  align-items: center;     /* center them horizontally */
  gap: 12px;               /* space between buttons */
  width: 100%;
}

.results-image {
  width: 90%;           /* Scale with wrapper */
  max-width: 600px; 
  max-height: 80vh;       /* Avoid edge overflow */
  height: auto;          /* Keep aspect ratio */
  display: block;         /* Show image */
  object-fit: contain;   /* Keep entire image visible */
}

.img-container {
  max-width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Add this */
   /* Optional: also round container corners */
}


#quiz-result {
  text-align: center;
margin-top: -20px;
}

.result-text{
    font-family: 'Pixel',sans-serif;
}