body{
    background-color: #C2ECFF;
    margin: 0;
    min-height: 100vh; 
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  

}

@font-face {
    font-family: 'Pixel';
    src: url('pixelpoiiz.ttf') format('truetype');
}

.wrapper{
        background-color: #FFFABD; 
  border-radius: 20px;
   background-repeat: no-repeat;
   width: 700px;
   min-height: 100vh;
   display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
}

h1{
    font-size: 50px;
    
    font-family: 'Pixel', sans-serif;
    text-align: center;

}

p{
     font-size: 20px;
   
    font-family: 'Pixel', sans-serif;
    text-align: center;
}

.rat{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.start-btn{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    margin: 0 auto;
    background-color: #FFFABD;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    font-family: 'Pixel',sans-serif;
    font-size: 20px;
     cursor: pointer;
  transition: 
    background 0.3s ease, 
    transform 0.3s ease, 
    box-shadow 0.3s ease;
}

.start-btn:hover,
.start-btn:focus {
  background: #FFFABD;
  transform: scale(1.08);     /* ⬅️ makes the button grow by 8% */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}